/* stylelint-disable */

$name-space: 'v3'; // 命名空间
$element-separator: '__';
$modifier-separator: '--';

@function contains-separator($selector) {
  $selector: selectortostring($selector);

  @if str-index($selector, $modifier-separator) or str-index($selector, $element-separator) {
    @return true;
  } @else {
    @return false;
  }
}

// 需要加命名空间的情况，可以使用B来进行区别
@mixin B($block) {
  $B: #{$name-space + $block} !global;

  .#{$B} {
    @content;
  }
}

@mixin b($block) {
  $B: $block !global;

  .#{$block} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;

  @if contains-separator(&) {
    @at-root {
      & #{'.' + $B + $element-separator + $element} {
        @content;
      }
    }
  } @else {
    @at-root {
      #{& + $element-separator + $element} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {
  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}
